@media only screen and (min-width:0px) and (max-width:989px)
{

/******************************************************************************/
/*	Blog																	  */
/******************************************************************************/

		div.single-post div.post-tag,
		div.single-post div.post-excerpt,
		ul.blog-post-list li div.post-tag,
		ul.blog-post-list li div.post-excerpt,
		ul.blog-post-list li a.post-read-more
		{
			margin-left:0px;
		}
		
				div.single-post div.post-info div.post-info-bar div.post-info-bar-comment-count,
				ul.blog-post-list li div.post-info div.post-info-bar div.post-info-bar-comment-count
				{
					float:left;
				}
				
/******************************************************************************/
/*	Respond																	  */
/******************************************************************************/

.page-sidebar-enable #respond
{
	margin-left:0px;
}

/******************************************************************************/
/*	Comments																  */
/******************************************************************************/
	
	/**************************************************************************/
	/*	Comments / Comments number	                                          */
	/**************************************************************************/
			
	.page-sidebar-enable #comments #comments-number
	{
		display:none;
	}
	
	/**************************************************************************/
	/*	Comments / Comments list	                                          */
	/**************************************************************************/
	
	.page-sidebar-enable #comments #comments_list
	{
		margin-left:0px;
	}
	
/******************************************************************************/
/*	Menu box																  */
/******************************************************************************/

div.menu-box-wrapper
{
	border-width:0px 0px 1px 0px;
}
	
}