@media only screen and (min-width:480px) and (max-width:767px)
{
	
/******************************************************************************/
/*	Page layout																  */
/******************************************************************************/

.page-sidebar-enable
{
	
}
	
	.page-sidebar-enable>.column-left,
	.page-sidebar-enable>.column-right
	{
		float:none;
		clear:both;
	}

	.page-sidebar-enable.page-sidebar-left>.column-right,
	.page-sidebar-enable.page-sidebar-right>.column-left,
	.page-sidebar-enable.page-sidebar-left>.column-left,
	.page-sidebar-enable.page-sidebar-right>.column-right
	{
		width:100%;
	}

/******************************************************************************/
/*	Main																	  */
/******************************************************************************/
	
div.main,
ul.sf-menu,
select.dp-menu
{
	width:450px;
}	

/******************************************************************************/
/*	Header																	  */
/******************************************************************************/

div.header
{
	padding-bottom:30px;
}

	div.header div.header-logo
	{
		float:none;
		padding-right:0px;
	}

		div.header div.header-logo a
		{
			margin-left:auto;
			margin-right:auto;
			text-align:center;
		}

	div.header div.header-cite
	{
		margin:0px;
		padding:0px;
		border:none;
	}
	
	div.header div.header-phone
	{
		background-image:none;
	}
	
	div.header div.header-cite,
	div.header div.header-phone
	{
		margin-top:40px !important;
	}
	
/******************************************************************************/
/*	Widget																	  */
/******************************************************************************/
	
div.widget
{
	width:100%;
}

}